//* Color Palette

$paletteBg: #f6f6f6;

$paletteBlack: #000000;
$paletteWhite: #ffffff;

$paletteDarkGrey_1: #252525;

$paletteGrey_1: #454545;
$paletteGrey_2: #626262;
$paletteGrey_3: #b1b1b1;
$paletteGrey_4: #e2e2e2;

$paletteGreen_1: #00c438;
$paletteGreen_2: #21ef00;

$paletteBlue_1: #4284db;
$paletteBlue_2: #29eac4;

$paletteYellow_1: #ffea2b;

$paletteWarningYellow: #dbbc51;
$paletteErrorRed: #c63838;
$paletteSuccessGreen: #38c646;

$paletteBgGradient: linear-gradient(90deg, $paletteBg 0%, $paletteBg 100%);
$paletteTransparentGradient: linear-gradient(90deg, transparent 0%, transparent 100%);
$paletteWhiteGradient: linear-gradient(90deg, $paletteWhite 0%, $paletteWhite 100%);
$paletteDefaultGradient: linear-gradient(90deg, $paletteBlue_1 0%, $paletteBlue_2 100%);
